/* CSS Document */
@charset "utf-8";
*{margin:0; padding:0px;}
body{font-size:14px;background:#E3E3E5 url(background.jpg)  ;color:#5d5d5d;}
a{text-decoration:none;}
.left{float:left;}
.right{float:right;}
.clear{clear:both;}
li{list-style:none;}
img{display:block;border:0px;}


#header{width:1000px;margin:0 auto;}
#header h1{font-size:32px;color: inherit;padding:5px 0 5px 5px;font-weight:600;}
#header p{font-size:18px;color: #333333;font-weight:500;}


#nav{width:1000px;margin:20px auto; }
#nav ul li{width:140px;height:30px;line-height:30px;float:left;text-align:center;margin:0px 2px 0px 0px;}
#nav ul li a{color:#506F70;font-size:16px;width:140px;height:30px;display:block;}
#nav ul li a:hover{display:block;width:140px;height:30px;background:#829696;border-radius:3px;color:#fff;}



#content{width:1000px;margin:5px auto;}
#c_left{width:730px; background:#fff;border-radius:1px;}
#c_left .s_blist{width:710px;height:68px;margin-left:10px;}
.s_blist {width:650px;height:37px;padding:0px 5px 5px 0px;color: darkseagreen;font-size:24px;margin-top:10px;}
.s_blist a {color:#3798A5;padding-left:480px;}


#c_left .content_text{width:730px;margin-top:5px;}
#c_left .content_text .blog{width:725px;margin:5px 0px 10px 0px;color:#1D1A1A;}
.blog h3{width:300px;height:30px;overflow:hidden;line-height:30px;font-size:17px;font-weight:500;padding-left:5px;color:#325EBD;}
.blog h3 a{color:#D3535D;}
.blog h3:hover{padding-left:20px; transition: all 0.5s;-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s;}
.blog dl{width:730px;margin-top:3px;}
.blog dl dt{float:left;width:204px;height:127px;margin-left:5px;display:block;border:1px solid #ccc;}
.blog dl dt img{padding:2px;}
.blog dl dd{float:left;width:505px;overflow:hidden;margin-left:5px;}
.blog dl dd .dd_text_1{height:80px;display:block;overflow:hidden;}
.blog dl dd .dd_text_2{line-height:30px;margin-top:10px;}
.blog dl dd .dd_text_2 span{padding-left:30px;}
.blog dl dd .dd_text_2 .author{display:block;width:60px;height:30px;

background:url() 5px 7px no-repeat;padding-left:25px;margin-left:20px;}

.blog dl dd .dd_text_2 .sj{display:block;width:120px;height:30px;

background:url() 5px 7px no-repeat;padding-left:25px;}

.blog dl dd .dd_text_2 .fl{display:block;width:110px;heigt:30px;text-align:center;}
.blog dl dd .dd_text_2 .fl a{color:#1D1718;}
.blog dl dd .dd_text_2 .yd{display:block;width:110px;height:30px;text-align:center;margin-top:3px;}
.blog dl dd .dd_text_2 .yd a{color:#F55522;display:block;width:80px;height:22px;line-height:22px;text-align:center;padding:2px 5px;border:1px solid #AC9696;border-radius:2px;}
.blog dl dd .dd_text_2 .yd a:hover{color:#f36;}




#c_right{width:260px;}
#c_right .s_about{width:260px;border:1px solid #ccc;background:#fff;}
#c_right .s_about h2{width:230px;margin:0 auto;font-size:16px;color:#333;padding:10px 0px 3px 10px;border-bottom:1px solid #555;}
#c_right .s_about img{margin:0 auto;margin-top:10px;}
#c_right .s_about p{padding-left:30px;}


#c_right .info{width:260px;height:180px;border:1px solid #ccc;margin-top:5px;background:#fff;}
.info h2{width:230px;margin:0 auto;font-size:16px;color:#333;padding:10px 0px 3px 10px;border-bottom:1px solid #555;}
.info  p{padding:10px 0px 0px 15px;}
.info  a{color:#444;}
.info  a:hover{color:#f00;}


#c_right .link{width:260px;height:180px;border:1px solid #ccc;margin-top:5px;background:#fff;}
.link h2{width:230px;margin:0 auto;font-size:16px;color:#333;padding:10px 0px 3px 10px;border-bottom:1px solid #555;}
.link p{padding:10px 0px 0px 15px;}
.link p a{color:#444;}
.link p a:hover{color:#f00;}


